@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt {
  height: 100%;
  overflow: hidden;
}

body {
  /* include some tailwind classes */
  @apply max-w-[475px] m-auto relative overflow-hidden;
  background-color: #333;
}

dialog {
  max-width: 475px;
}


 /* width */
 #custom-select ::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
#custom-select ::-webkit-scrollbar-track {
    background: white;
}
  
/* Handle */
#custom-select ::-webkit-scrollbar-thumb {
    background: #f87171;
}
  
/* Handle on hover */
#custom-select ::-webkit-scrollbar-thumb:hover {
    background: #555;
}